body,
html {
  height: 100%;
}



header {
  background-color: rgb(167, 62, 62);
  color: white;
  text-align: left;
}

main {
  margin-top: 5rem;
}
table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

th {
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: grey;
}

td {
  height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(167, 62, 62);
  color: white;
  text-align: center;
  height: 3rem;
}

.button {
  background-color: Crimson;
  border-radius: 5px;
  color: white;
  height: 0.2em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}
